.id {
  display: flex;
  margin: 0 80px;
  margin-top: 60px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 20px 0 20px 30px;
}

.radio-buttons,
.price,
.category {
  margin-left: 15px;
  border-bottom: 1px solid black;
  /* padding-bottom: 5px; */
}

select {
  border: transparent;
  font-size: 15px;
}

.tbl {
  background-color: rgb(214, 213, 213);
  height: 35px;
  width: 90px;
  margin-left: 650px;
  cursor: pointer;
}

.hapus {
  margin-top: 5px;
  text-align: center;
}

.card-container {
  background: none repeat scroll 0 0;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  width: auto;
}

.card {
  background: none repeat scroll 0 0;
  flex: 1 1 18%;
  height: auto;
  margin: 4px;
  padding: 20px 0;
  width: auto;
  text-decoration: none;
}

.card img {
  width: 100%;
}

.title h1 {
  color: #000000;
}

.home {
  margin: 0 80px;
  margin-top: 60px;
}
